h1.brand {
  font-size: 5em;
  text-transform: lowercase;
}

.presentation {
  margin: 4%;
}

.portrait {
  text-indent: 20px;
}

.team_chaussettes {
  padding: 10px;
}

.title_blog {
  font-size: 25px;
}

a:hover {
  text-decoration: none;
}

.color {
  color: #517acc;
}

.thanks {
  color: #969393;
  font-size: 10px;
}

.fk:hover {
  opacity: 0.6;
  cursor: pointer;
}

.puppet:hover {
  opacity: 0.5;
  cursor: pointer;
}

.chaussette_trouee {
  padding-right: 80px;
}

.temoin {
  padding: 20px;
}

.gauche {
  padding-top: 20px;
}

.person {
  padding-left: 0;
}

.engagement {
  color: #5b5757;
}

/*page ABOUT*/
.histoire {
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 10px;
}

.histoire1 {
  padding-right: 10px;
}

.atlas {
  padding-bottom: 20px;
}

/*page BLOG*/
.intro_blog {
  padding-top: 30px;
}

/*page SOCKS*/
.intro_selection {
  padding-top: 20px;
}

.selection {
  display: flex;
}

.card {
  box-shadow: 1px 0.5px 0.8px #bab8b8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: ;
}

.selec {
  margin-top: 30px;
}

img.card-img-top {
  border-left: 1px solid #dbd9d9;
  border-top: 1px solid #dbd9d9;
  border-right: 1px solid #dbd9d9;
}

.card-block {
  border-left: 1px solid #dbd9d9;
  border-right: 1px solid #dbd9d9;
  border-bottom: 1px solid #dbd9d9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0px;
  padding: 20px;
}

.card-block:hover {
  background-color: #f7f4f4;
}

h4.card-title {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #7a7676;
}

.bouton {
  width: 100px;
  margin-top: 35px;
  margin-left: 32px;
  margin-right: 32px;
}

.foot {
  padding-top: 10px;
}
